@page
@model JobsityChatProject.Pages.Account.RegisterModel
@{
}

<div class="container border" style="padding:32px">
    <form method="post">
        <div class="form-group row">
            <div class="col-10">
                <label class="alert-info">Please fill this form with a unnused username and equals passwords</label>
            </div>
            <div>
                @foreach (var item in ViewContext.ViewData.ModelState)
                {
                    if (item.Value.Errors.Any())
                    {
                      <label class="alert-danger">@(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</label>
                    }
                }
            </div>
            <div class="col-3">
                <label>User Name</label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="UserRegisterViewModel.UserName" />
                <span asp-validation-for="UserRegisterViewModel.UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label>Password</label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="UserRegisterViewModel.Password" />
                <span asp-validation-for="UserRegisterViewModel.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label>Confirm Password</label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="UserRegisterViewModel.RepeatedPassword" />
                <span asp-validation-for="UserRegisterViewModel.RepeatedPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <input type="submit" class="btn btn-primary" value="Send" />
            </div>
        </div>
    </form>
</div>